

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    background-color: lightgray;

}

.title{

    grid-column: span 2;
    grid-row: 1;
    color: white;
    background-color: #009879;
    text-align: center;
    font-size: xxx-large;

}
.nav{
    color: white;
    grid-area: nav;
    grid-column: span 2;
    grid-row: 2;
    background-color: #009879;
    font-size: large;
    text-align: center;
}

.h2{
    grid-column: 1;
    grid-row: 4;
    font-size: large;
    color: darkcyan;
    text-align: right;
}
.list{
    grid-column: 2;
    grid-row: 4;
}
.link{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    align-items: center;
    min-height: 100px;

}
.footer{
    grid-column: span 2;
    background-color: black;
    color: white;

}


.button {
    grid-row: 3;
    grid-column: 2;
    appearance: none;
    background-color: #009879;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    align-self: center;  /* Centers vertically */
    justify-self: center;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button:hover {
    background-color: #009879;
}

.button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button:active {
    background-color: #009879;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
