.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1fr 0.25fr 1fr 1fr 0.5fr;
    background-color: lightgrey;
}

.header {
    grid-column: 1/4;
    grid-row: 1;
    background-color: #009879;
    color: white;
    text-align: center;
    font-size: xxx-large;
}

.nav {
    grid-column: 1/4;
    grid-row: 2;
    background-color: #009879;
    color: white;
    font-size: medium;
    text-align: center;
}

.list_title {
    grid-column: 3;
    grid-row: 3;
    justify-self: center; /* horizontal: start | center | end */
    align-self: end;

}

.text {
    grid-column: 1;
    grid-row: 4;
}

.list {
    grid-column: 2;
    grid-row: 4;
    justify-self: center; /* horizontal: start | center | end */
    align-self: center;
}

.examples {
    grid-column: 3;
    grid-row: 4;
}

.footer {
    grid-column: 1/4;
    grid-row: 5;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    }

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}



.button {
    appearance: none;
    background-color: #009879;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button:hover {
    background-color: #009879;
}

.button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button:active {
    background-color: #009879;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}