<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1> add an attraction</h1>

<form action="/addPost" method="post">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  <br><br>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" required>
  <br><br>

  <fieldset>
    <legend>City</legend>
    <select name="city" id="city">
    <option th:each="city : ${cities}">
      <span th:text="${city}"></span>
    </option>
    </select>
  </fieldset>


  <fieldset>
    <legend>Tags</legend>
    <p th:each=" tag : ${tags}">
      <input type="checkbox" name="tags" th:id="${tag}" th:value="${tag}">
      <label th:for="${tag}" th:text="${tag}"></label>
    </p>
  </fieldset>


  <button class="button" type="submit">Add attraction</button>

</form>

</body>
</html>