<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraction List</title>
    <link rel="stylesheet" href="/attractionListStyle.css">
</head>
<body>

<table class="styled-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>City</th>
        <th>Tags</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name} ?: 'Unnamed Attraction'"></td>
        <td th:text="${attraction.description} ?: 'No description available.'"></td>
        <td th:text="${attraction.city} ?: 'Undeclared city'"></td>
        <td>  <form th:action="@{/{name}/tags}" method="get">
            <input type="hidden" name="name" th:value="${attraction.name}">
            <button class="button" type="submit">Tags</button>
        </form>
        </td>

    </tr>
    </tbody>
</table>

<form action="/addGet" method="get">
    <button class="button" type="submit"> Add an attraction</button>
</form>
<br>
<form action="/" method="get">
    <button class="button" type="submit">Go Back</button>
</form>

</body>
</html>