<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tourist Guide</title>
  <link rel="stylesheet" href="/style.css?v=3">
</head>
<body>
<div class="container">

<div class="title">Tourist Guide </div>

  <nav class="nav">
    A tour guide for Copenhagen
  </nav>


<p>Explore various attractions around Copenhagen to enjoy the most out of this wonderful city.
  From astonishing castles to beautiful churches and parks. you will find everything inside this city </p>

<h2 class="h2">Examples</h2>

<ul th:if="${not #lists.isEmpty(attractions)}" class="list">
  <li th:each="attraction, stat : ${attractions}" th:if="${stat.index < 3}">
    <strong th:text="${attraction.name} ?: 'Unnamed Attraction'"></strong> -
    <span th:text="${attraction.description} ?: 'No description available.'"></span>
  </li>
</ul>

<p th:if="${#lists.isEmpty(attractions)}">No attractions found.</p>

<!-- Link to view all attractions -->
<a href="http://localhost:8080/api/attractions" class="link">Check all Attractions</a>

<!-- Search form -->
<form action="/search" method="get">
  <fieldset>
    <legend> Name of attraction</legend>

    <select id="name" name="name">
      <option th:each="attraction : ${attractions}">
        <span th:text="${attraction.getName()} ?: 'Unnamed Attraction'"></span>
      </option>
    </select>

  </fieldset>
  <button type="submit">Search</button>
  <!--
  <p>
    <label for="name">Search Attraction:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Search</button>
  </p>
  -->
</form>
  <div class="footer">footer </div>
</div>
<form action="/attractionList" method="get">
  <button type="submit"> get Attraction List
  </button>
</form>
<div>

</div>
</body>
</html>
